<!DOCTYPE html>
<html>
<head>
  <title>IronCurtain</title>
  <%= stylesheet_link_tag    "iron_curtain/application", media: "all" %>
  <%= javascript_include_tag "iron_curtain/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
